.title
{
    width: 99%;
    border: none;
    border-radius: 0px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin: 10px;
}

.title text
{
    color: #00338E;
    padding: 5px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.headingTitle
{
    color: #00338E; 
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

